.header {
    width: 100%;
    background-image: url(./../../public/imagenes/portada4.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
    height: 80vh;
    position: relative;
}
.header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
        0deg,
        rgba(16, 29, 42, 0) 28%,
        #881337 170%
    );
}

.header-card {

    background-image: linear-gradient(
        to bottom,
        rgba(16, 29, 42, 0) 28%,
        #881337
    );
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {
        margin-right: -1000px;
    }
    100% {
    }
}
@-moz-keyframes fadeIn {
    0% {
        margin-right: -1000px;
    }
    100% {
    }
}
